@import '../create-warehouse/create-warehouse.component.css';

.loading-box {
  background: #ffffff;
  border-radius: 18px;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: #475569;
}